* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.header {
    display: inline-block;
    margin-top: 23px;
    width: 1230px;
    height: 81px;
    background-color: #60c1bd;
    border-radius: 100px;
    overflow: hidden;
}
.section1 {
    width: 100%;
    height: 799px;
    background-color: #284854;
    overflow: hidden;
    text-align: center;
}
.MainPage {
    display: block;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    float: left;
    margin: 20px 30px;
}
.navigation {
    display: inline-block;
    color: #284854;
    font-size: 18px;
    float: none;
    margin: 25px;
    overflow: hidden;
}
.login {
    display: block; 
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    float: right;
    margin: 30px;
}
.titleAndDescription {
    height: 376px;
    width: 1095px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 119px;
    margin-bottom: 103px;
}
.title {
    display: block;
    float: left;
    width: 712px;
    height: 204px;
    color: #8bc441;
    font-size: 85px;
    font-weight: 400;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.pets_1 {
    display: block;
    float: right;
    margin-top: 42px;
}
.description {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    float: left;
    text-align: left;
    width: 542px;
    height: 112px;
    margin-top: 60px;
}
.cards {
    text-align: center;
    overflow: none;
}
.card {
    display: block;
    float: left;
    width: 506px;
    height: 203px;
    background-color: #f4f6f0;
    padding: 35px, 0px, 35px;
    
}
.cardTitle {
    font-size: 37px;
    color: #8bc441;
    float: right;
}
.cardDescription {
    color: #60C1BD;
    font-size: 20px;
    float: right;
}
.cardImage {
    margin: 45px 30px;
}
.main {
    margin-top: 297px;
    /* overflow: hidden; */
}
.start {
    text-align: center;
    font-size: 22px;
    color: #60C1BD
}
.stepsTitle {
    text-align: center;
    font-size: 55px;
    color: #284854;
}
.steps {
    margin-top: 143px;
    overflow: hidden;
}
.stepOne {
    width: 940px;
    height: 317px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.stepTwo {
    width: 940px;
    height: 337px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 98px; */
    vertical-align: middle;
}
.stepThree {
    width: 940px;
    height: 299px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}
.step {
    font-size: 20px;
    color: #798B56;
}
.stepTitle {
    color: #8BC441;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
.stepDescription {
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 29px;
    color: #284854;
}
.stepImage {
    float: left;
    margin-right: 130px;
}
.stepTwoImage {
    float: right;
    margin-left: 175px;
}
.section2 {
    width: 100%;
    height: 601px;
    background-color: #F4F6F0;
}
.section2Content {
    display: block;
    width: 1074px;
    height: 396px;
    margin-left: auto;
    margin-right: auto;
}
.pets_4 {
    float: left;
    margin-top: 83px;
    margin-right: 112px;
}

.section3 {
    margin-top: 11px;
    width: 100%;
    height: 438px;
    background-color: #8BC441;
}
.weTitle {
    display: block;
    margin-top: 78px;
    margin-bottom: 5px;
    font-size: 22px;
    color: #60C1BD
}
.weTitle1 {
    font-size: 55px;
    color: #284854;
}
.weDescription {
    display: block;
    margin-top: 31px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 32px;
    color: #284854;
}
.why {
    display: inline-block;
    padding: 8px 4px;
    font-size: 16px;
    border: 1px solid #60C1BD;
    color: #60C1BD;
}
.section3Content {
    display: block;
    width: 1074px;
    height: 266px;
    margin-left: auto;
    margin-right: auto;
}
.dog_4 {
    float: left;
    margin-top: 88px;
    margin-right: 165px;
}
.section3Text {
    display: block;
    padding-top: 86px;
}
.title3 {
    display: block;
    float: left;
    width: 516px;
    height: 128px;
    color: #fff;
    font-size: 55px;
    font-weight: 400;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}
.description3 {
    font-size: 20px;
    line-height: 27px;
    color: #fff;
}
.description3Content {
    display: block;
    margin-top: 57px;
}
.first {
    display: block;
    width: 239px;
    height: 81px;
    float: left;
}
.second {
    display: block;
    width: 210px;
    height: 81px;
    float: right;
}
.footerTitle {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #284854;
}
.footerLinks {
    font-size: 13px;
    color: #60C1BD;
}
.footerLinks1 {
    font-size: 14px;
    color: #60C1BD;
}
.footerLinks2 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #60C1BD;
}
.footer1 {
    font-size: 13px;
    color: #284854;
}